# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for data science
+ Show understanding of how to create an ordered list in a Jupyter notebook markdown cell
+ List commonly used libraries used by data scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. scikit-learn

| Data Science Tools |
|---------------------|
| Weka |
| Hadoop |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

2 + 4

9 - 3

768 + (33 - 2)

In [6]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335

## Author
Rochelle Cameron